*{
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--main-color);
}
:root{
    --main-color:white;
    --second-color:#7e93fb;
    --third-color:#4561EC;
    --hover-color:#2a40ac;
}
/*nav-bar*/
nav{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 10px auto;
    height:60px;
    font-weight: 600;
}
nav .logo{
    width:100px;
    height:34px;
}
nav ul li{
    display: inline-block;
    margin-left:30px;
    color:var(--second-color);
    font-size:0.9em;
}
nav ul .button{
    color:var(--main-color);
    background-color: var(--third-color);
    padding:15px;
    width:120px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
nav ul .button:hover{
    background-color:var(--hover-color);
}
/*first section*/
#first-section{
    background-size: cover;
    background-repeat: no-repeat;
    padding:13rem 8%;
}
#first-section .text-box{
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width:60%;
}
#first-section .text-box .logo{
    max-width:174px;
}
#first-section .text-box h1{
    font-size:4.5em;
    font-weight: 600;
}
#first-section .text-box p{
    line-height:1.5em;
    font-size:1.2em;
}
#first-section .text-box span{
    color:var(--second-color);
}
#first-section .text-box .buttons {
    display: flex;
    gap:10px;
}
#first-section .text-box .buttons .explore,
#first-section .text-box .buttons .discover
{
    padding:17px;
    width:170px;
    font-size:0.9em;
    font-weight: 600;
    border-radius: 5px;
    cursor:pointer;
    transition: .3s ease-in-out;
}
#first-section .text-box .buttons .explore{
    color:var(--main-color);
    background-color: var(--third-color);
    border:none;
}
#first-section .text-box .buttons .explore:hover{
    background-color: var(--hover-color);
}
#first-section .text-box .buttons .discover{
    border:1px solid var(--second-color);
    color:var(--second-color);
    background-color: transparent;  
}
#first-section .text-box .buttons .discover:hover{
    border-color: var(--main-color);
    color: var(--main-color);
}
/*second section*/
#second-section{
    padding:7em;
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
}
#second-section .text-box{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    width:1200px;
    max-width:1300px;
}
#second-section .text-box h1{
    font-size:4em;
    font-weight: 600;
}
#second-section .text-box p{
    font-size:1em;
}
#second-section .card-box,
#sixth-section .card-box{
    width:1150px;
    max-width: 1170px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:15px;
}
#second-section .card-box .card{
    background-color: var(--third-color);
    padding:50px;
    width:240px;
    height:240px;
    max-width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    justify-content: space-between;
    position: relative;
}
#second-section .card-box .card p{
    position: absolute;
    text-align: left;
    font-size:1em;
    width:202px;
    font-weight: 600;
    opacity: 0;
    transition: .4s ease-in-out;
   
}
#second-section .card-box .card img{
    width:70%;
    transition:.4s ease-in-out;
}
#second-section .card-box .card h1{
    font-size:1.2em;
    font-weight:600;
    line-height:20px;
    width:180px;
    transition: .4s ease-in-out;
}
#second-section .card-box .card:hover.card img,
#second-section .card-box .card:hover.card h1
{
   opacity: 0;
}
#second-section .card-box .card:hover.card p{
    opacity: 1;
}
/*third section*/
#third-section{
    display: flex;
    flex-direction: column;
    gap:50px;
    padding:5em 8%;
    align-items: center;
}
#third-section h1{
    font-size:4em;
    font-weight: 600;
}
#third-section h1 span{
    color:var(--second-color);
}
#third-section .img-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:15px;
    width:1150px;
    max-width: 1200px;
}
#third-section .img-box img{
    object-fit: cover;
    height:311px;
    cursor:pointer;
}
/*fourth-section*/
#fourth-section{
    padding:4em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fourth-section .box{
   display: flex;
   gap:60px;
}
#fourth-section .box .text-box{
    display: flex;
    flex-direction: column;
    gap:30px;
}
#fourth-section .box .text-box p{
    font-size:2em;
    line-height: 45px;
}
#fourth-section .box .text-box .bottom-text{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#fourth-section .box .text-box .bottom-text h1{
    font-weight: 600;
    font-size:1.2em;
}
#fourth-section .box .text-box .bottom-text h2{
    color:var(--second-color);
    font-size:0.9em;
}
#fourth-section .box .img-box{
    width:613px;
    height:544px;
}
#fourth-section .box .img-box img{
    width:100%;
    height:100%;
    object-fit: cover;
    cursor: pointer;
}
/*fifth-section*/
#fifth-section{
    padding:8% 0;
    display: flex;
    justify-content: center;
}
#fifth-section .box{
    max-width:1340px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fifth-section .box .img-box{
    width:601px;
    height: 470px;
}
#fifth-section .box .img-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
#fifth-section .box .text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    background-color: var(--third-color);
    height:470px;
    padding:3em;
}
#fifth-section .box .text-box h1{
    font-size:2.5em;
    font-weight: 700;
}
#fifth-section .box .text-box .paragraphs{
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size:1.2em;
    line-height:30px;
}
#fifth-section .box .text-box button{
    width:40%;
    border: none;
    background-color: var(--main-color);
    color:var(--third-color);
    font-weight: 600;
    padding:20px;
    font-size: 0.9em;
    border-radius: 5px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
#fifth-section .box .text-box button:hover{
    background-color: var(--hover-color);
    color:var(--main-color);
}
/*sixth-section*/
#sixth-section{
    padding:4em 5.3em;
}
#sixth-section .box{
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    gap:50px;
}
#sixth-section .box .text-box{
    display: flex;
    flex-direction: column;
    gap:30px;
}
#sixth-section .box .text-box h1{
    font-size:4em;
    font-weight: 600;
}
#sixth-section .box .text-box p{
    font-size:1.2em;
    line-height: 25px;
}
#sixth-section .box .card-box{
    width:1170px;
    max-width: 1190px;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: flex-start;
}
#sixth-section .box .card-box .card{
    background-color: rgb(23,24,28);
    padding:40px 50px;
    width:280px;
    height:280px;
    max-width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
    transition: .2s ease-in-out;
}
#sixth-section .box .card-box .card:hover{
    box-shadow: 0px 0px 10px var(--second-color);
}
#sixth-section .box .card-box .card h1{
    font-size:1.5em;
    font-weight: 600;
    line-height: 25px;
    width:210px;
}
/*seventh-section*/
#seventh-section{
    padding:4em 5.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#seventh-section .box{
    max-width: 1340px;
    width:100%;
    height:547px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
}
#seventh-section .box .center-box{
    background-color: var(--main-color);
    color:black;
    padding:6em 4em;
    display: flex;
    flex-direction: column;
    gap:40px;
}
#seventh-section .box .center-box h1{
    font-size:3em;
    font-weight:600;
}
#seventh-section .box .center-box p{
    font-size:1.2em;
    line-height:25px;
}
/*eighth-section*/
#eighth-section{
    display: flex;
    justify-content: center;
    padding:4em 5.3em;
}
#eighth-section .box{
    display: flex;
    justify-content:space-around;
    height:612px;
    background-color: rgb(23,24,28);
}
#eighth-section .box img{
    width:533px;
    height:100%;
    object-fit: cover;
    cursor: pointer;
}
#eighth-section .box .text-box{
    padding:6.5em 4em 6.5em 4em;
    display: flex;
    flex-direction: column;
    gap:30px;
}
#eighth-section .box .text-box h1{
    font-size:3em;
    font-weight: 600;
}
#eighth-section .box .text-box .paragraphs{
    font-size:1.2em;
    line-height:30px;
    display: flex;
    flex-direction: column;
    gap:15px;
    width:520px;
    max-width:530px;
}
/*ninth section*/
#ninth-section{
    background-color: var(--third-color);
    display: flex;
    padding:4em 5.3em;
    justify-content: flex-start
}
#ninth-section .box{
    max-width: 1340px;
    display: flex;
    align-items: flex-start;
    padding:3em 0;
}
#ninth-section .box img{
    width: 567px;
    height:611px;
    object-fit: cover;
    cursor: pointer;
}
#ninth-section .box .text-box{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding:0em 5em;
}
#ninth-section .box .text-box h1{
    font-size:2.8em;
    width:500px;
    font-weight: 600;
    line-height: 50px;
}
#ninth-section .box .text-box p{
    font-size:1.2em;
}
#ninth-section .box .text-box button{
    width:50%;
    padding:20px;
    font-weight: 600;
    color:var(--third-color);
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}
/*tenth-section*/
#tenth-section{
    padding:4em 5.3em;
    display: flex;
}
#tenth-section .box{
    display: flex;
    flex-direction: column;
    gap:20px;
}
#tenth-section .box h1{
    font-size:1.7em;
    font-weight: 600;
}
#tenth-section .box p{
    font-size: 1.2em;
    line-height:25px;
    width:1185px;
    max-width: 1190px;
}
#tenth-section .box span{
    color:var(--second-color);
    text-decoration: underline;
    cursor: pointer;
    transition: .2s ease-in-out;
}
#tenth-section .box span:hover{
    color:#b0bcf8;
}
#tenth-section .box .privacy-terms{
    display: flex;
    margin-top:30px;
    gap:30px;
    justify-content: center;
    font-size:1.2em;
}
/*eleventh section*/
#eleventh-section{
    padding:7em 5.3em;
    background-color: var(--main-color);
    color:black;
}
#eleventh-section .box{
    display: flex;
    flex-direction: column;
    gap:50px;
    max-width: 1340px;
}
#eleventh-section .box h1{
    font-size:3.2em;
    font-weight: 600;
}
#eleventh-section .box .card-box{
    display: flex;
    gap:20px;
}
#eleventh-section .box .card-box .card{
    display: flex;
    flex-direction: column;
    gap:30px;
}
#eleventh-section .box .card-box .card .img-box{
    width:587px;
    height:309px;
    position: relative;
}
#eleventh-section .box .card-box .card .img-box img{
    width:100%;
    height:100%;
    object-fit: cover;
    cursor: pointer;
}
#eleventh-section .box .card-box .card .img-box::after{
    content:"";
    position: absolute;
    background-color:rgb(255, 255, 255);
    width:100%;
    height:100%;
    left:0;
    top:0;
    opacity:0;
    transition: .3s ease-in-out;
}
#eleventh-section .box .card-box .card .img-box:hover::after{
    opacity:0.3;
}
#eleventh-section .box .card-box .card .about{
    display: flex;
    gap:10px;
}
#eleventh-section .box .card-box .card .about div{
    background-color: #cbd3fa;
    border-radius:5px;
    padding:10px;
    font-weight: 600;
    font-size:0.9em;
    color:var(--third-color);
}
#eleventh-section .box .card-box .card h1{
    font-size:1.9em;
    line-height:35px;
    width:530px;
    max-width:550px;
}
/*footer*/
footer{
    padding:4em 5.3em;
}
footer .box{
    max-width:1340px;
    display: flex;
    flex-direction: column;
    gap:70px;
}
footer .box .top{
    display: flex;
    justify-content: space-between;
}
footer .box .top .text-box{
    display: flex;
    flex-direction: column;
    gap:30px;
}
footer .box .top .text-box img{
    width:121px;
}
footer .box .top .text-box h1{
    font-size:1.9em;
    font-weight: 600;
    width:500px;
    max-width:520px;
}
footer .box .top ul{
    display: flex;
    flex-direction: column;
    gap:20px;
}
footer .box .top ul li{
    color:var(--second-color);
    font-size:1.2em;
    transition: .3s ease-in-out;
}
footer .box .top ul li:hover{
    color:#b1beff;
    text-decoration: underline;
}
footer .box .bottom{
    display: flex;
    gap:50px;
    justify-content: space-between;
}
footer .box .bottom .left{
    display: flex;
    flex-direction: column;
    gap:30px;
}
footer .box .bottom .left h1{
    font-size:1.9em;
    font-weight: 600;
}
footer .box .bottom .left .group{
    display: flex;
    width:400px;
}
footer .box .bottom .left .group input{
    border:1px solid var(--main-color);
    background-color: transparent;
    width:80%;
    color:gray;
    padding:10px;
}
footer .box .bottom .left .group button{
    background-color: var(--third-color);
    color:var(--main-color);
    padding:10px 20px;
    border-radius:5px;
    border: none;
    margin-left:-3px;
    font-weight: 600;
}
footer .box .bottom p{
    color:rgb(194, 192, 192);
    font-size:0.8em;
    line-height:20px;
}
footer .box .bottom .left p{
    width:270px;
    max-width: 280px;
}
footer .box .bottom p span{
    color:var(--second-color);
    transition: .2s ease-in-out;
}
footer .box .bottom p span:hover{
    color:#b1beff;
    text-decoration: underline;
}
footer .box .bottom .right{
    display: flex;
    flex-direction: column;
    gap:20px;
}
footer .box .bottom .right p{
    width:559px;
    max-width: 560px;
}
footer .box .bottom .right .privacy-terms{
    display: flex;
    gap:20px;
    font-size:0.8em;
    color:var(--second-color);
    font-weight: 600;
}
footer .box .bottom .right .privacy-terms div:hover{
    color:#b1beff;
    text-decoration: underline;
}
footer .box .bottom .right .privacy-terms .selected{
    position: relative;
}
footer .box .bottom .right .privacy-terms .selected::after{
    position: absolute;
    content: "";
    right:-10px;
    width:2px;
    height:100%;
    background-color: var(--second-color);
}